project:
  type: website
  output-dir: _site

website:
  title: ""
  navbar:
    search: true
    left:
      - href: index.qmd
        text: Home
      - href: MCA_Belaege_Szenario_0_bis_3.qmd
        text: "MCA Beläge"
      - href: MCA_Baeume_Szenario_0_bis_3.qmd
        text: "MCA Bäume"
      - href: Zeitstrahl_Analyse.qmd
        text: "Zeitstrahl Analyse"
  page-footer: 
    left: "Master Thesis 2026 | Sarah Pfeiffer"
    right: "ZHAW | Institut IUNR"      
format:
  html:
    toc: true
    code-fold: false
    code-tools: true

execute:
  freeze: auto
  warning: false
  message: false
